@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;
  --color-black: #000;
  --color-white: #fff;
}

html {
  font-family: var(--font-family);
  color: var(--color-black);
}

button[class="btn"] {
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
}
